.dashboard {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.dashboard-left {
    flex: 2;
    padding: 22px 24px;
    overflow-y: auto;
}


/* scrollbar size */
.dashboard-left::-webkit-scrollbar {
    width: 1px;
}

/* hidden initially */
.dashboard-left::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    transition: background 0.3s ease;
}


.dashboard-Right::-webkit-scrollbar {
    width: 2px;
}

/* hidden initially */
.dashboard-Right::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    transition: background 0.3s ease;
}


.dashboard-Right{
    flex: 1;
    overflow-y: auto;
}

/* Card */
.card {
    background: #161a23; /* or D.surface */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Card Header */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-title {
    font-size: 17px;
    font-weight: 700;
    color: #ffffff; /* D.text */
}

.card-sort {
    display: flex;
    gap: 8px;
    align-items: center;
}

.sort-label {
    font-size: 12px;
    color: #9aa0a6; /* D.muted */
}

.sort-select {
    font-size: 13px;
    border: 1px solid #2a2f3a; /* D.border */
    border-radius: 8px;
    padding: 4px 10px;
    background: #1c202d; /* D.surface3 */
    color: #ffffff;
}

/* Chart Dates */
.chart-dates {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 14px;
    font-size: 11px;
    color: #9aa0a6; /* D.muted */
}

/* Period Buttons */
.period-buttons {
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 8px;
    font-weight: 700;
}

.chip {
    padding: 4px 10px;
    border-radius: 8px;
    border: none;
    background: #2a2f3a;
    color: #ffffff;
    cursor: pointer;
}

.chip.active {
    background: #ff5252;
    color: white;
}

/* Transactions */
.transaction-date {
    font-size: 11px;
    color: #9aa0a6;
    padding: 10px 0 4px;
    letter-spacing: 0.8px;
}

.tx-row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.tx-info {
    flex: 1;
    margin-left: 13px;
}

.tx-name {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.tx-sub {
    font-size: 12px;
    color: #9aa0a6;
    margin-top: 2px;
}

.tx-amount {
    font-weight: 700;
    font-size: 14px;
}

.tx-amount.credit {
    color: #4caf50; /* green for credit */
}

.tx-amount.debit {
    color: #ffffff; /* normal text for debit */
}