.dynamic-pages{

}

.wallet-layout{
    overflow-y: hidden;
    display:flex;
    height:calc(100vh);
    background:#0f111a;
    color:white;
    font-family:'DM Sans',system-ui,sans-serif;
}

.sidebar{
    width:64px;
    height:calc(100vh - 20px);
    background:#161a23;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:18px 0;
    border-right:1px solid #2a2f3a;
}

.logo{
    width:38px;
    height:38px;
    border-radius:12px;
    background:linear-gradient(135deg, #00072b, #011050);
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:900;
    margin-bottom:16px;
}

.nav-item{
    position:relative;
}

.nav-button{
    width:42px;
    height:42px;
    border:none;
    border-radius:13px;
    background:transparent;
    color:#9aa0a6;
    cursor:pointer;
    font-size:17px;
}

.nav-button.active{
    background: rgba(9, 23, 97, 0.85);
    color:white;
}

.badge{
    position:absolute;
    top:-2px;
    right:-2px;
    width:16px;
    height:16px;
    border-radius:50%;
    background: #224bcf;
    font-size:9px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700;
}

.logout{
    margin-top:auto;
    background:none;
    border:none;
    color:#9aa0a6;
    font-size:18px;
    cursor:pointer;
}

.main{
    flex:1;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

.topbar{
    height:58px;
    background:#161a23;
    border-bottom:1px solid #2a2f3a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 26px;
}

.tabs{
    display:flex;
    gap:26px;
}

.tab{
    background:none;
    border:none;
    color:#9aa0a6;
    cursor:pointer;
    padding:18px 0;
    text-transform:capitalize;
}

.active-tab{
    color:white;
    border-bottom:2px solid #272B40;
    font-weight:700;
}

.breadcrumb{
    color:#9aa0a6;
}

.top-actions{
    display:flex;
    align-items:center;
    gap:16px;
}

.icon-btn{
    background:none;
    border:none;
    color:#9aa0a6;
    font-size:18px;
    cursor:pointer;
}

.avatar{
    width:36px;
    height:36px;
    border-radius:50%;
    border:1px solid #78789f;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:800;
}

.page-content{
    padding:30px;
}